@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  background-color: rgba(162, 182, 184, 0.322);
  font-family: Roboto, "Arial", "Helvetica", sans-serif;
}

main {
  display: flex;
  justify-content: center; 
  flex-direction: column;
  align-items: center;  
  padding: 10px;
}

.contenedorBoton {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;

}

#input {
  border: 2px solid rgb(119, 197, 119);
  /* border-color:rgb(119, 197, 119); */
  border-radius: 5px;
  padding-left: 10px;
}

#grupo-personajes {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  /* align-items: center;
  justify-content: space-between; */
  padding: 10px;
}

#filter-button {
  width: 80px;
  padding: 8px;
  background-color: rgb(119, 197, 119);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 5px;
}

#filter-button:active {
  background-color: rgb(85, 136, 85);
}

 .character-container {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
   flex-direction: column;
  align-items: center; 
  background-color: white;
  border-radius: 5px;
  height: 500px;
}

.character-container img {
  /* max-width: 60px; */
  /* display: block;
  margin: auto; */
  height: 60%;
  max-width: 300px; 
  /* padding-bottom: 15px; */
} 



.p-elements-container {
  display: flex;
  flex-direction: column;
  /* height: 40%; */
}

.p-elements-container p {
  padding: 5px;
  /* justify-content: space-around; */
}


/* 
.personajes {
  width: 85%;
  margin: 0 auto;
} */